<!doctype html>
<html class="no-js" lang="" data-theme="bumblebee">

<head>
  {% block head %}
    <meta charset="utf-8">
    <title>
      {% block title %}{% endblock title %}
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="/styles/style.css">
    <!-- <script src="https://unpkg.com/tailwindcss-jit-cdn"></script> -->
  {% endblock head %}

</head>

<body>

  <nav>
    {% include "partials/nav.html" %}
  </nav>
  <!-- Add your site or application content here -->
  {% block body %}
  {% endblock body %}

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
   // window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
   // ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <!-- <script src="https://www.google-analytics.com/analytics.js" async></script> -->
</body>

</html>
